* {
  margin: 0;
  padding: 0;
  border: 0;
}





/*webuploader组件*/

.webuploader-container {
  position: relative;
}

.webuploader-element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}




/*去掉被插件强奸的样式*/


/*.webuploader-pick {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #00b7ee;
  padding: 10px 15px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
}*/


/*.webuploader-pick-hover {
  background: #00a2d4;
}*/

.webuploader-pick-disable {
  opacity: 0.6;
  pointer-events: none;
}


.kmseditors {
  overflow: auto;
}




/*顶部工具栏*/

.kmseditors-title {
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.kmseditors-title-btngroup {
  width: 75px;
  /*height: 75px;*/
  display: inline-block;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  /*padding: 9px 2px 0;*/
  /*border-right: 1px solid #EFF2F7;*/
  /*border: 1px solid red;*/
}

.kmseditors-title-btngroup:hover {
  cursor: pointer;
}


.kmseditors-title-btngroup-icon {
  width: 40px;
  height: 40px;
  background-color: #EFF2F7;
  margin: 5px auto 2px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  background-size: 130%;
}

.kmseditors-title-btngroup-icon.b1 {
  background-image: url("./images/b1.png");
}

.kmseditors-title-btngroup-icon.b1:hover {
  background-image: url("./images/b1_active.png"); 
}

.kmseditors-title-btngroup-icon.b2 {
  background-image: url("./images/b2.png");
}

.kmseditors-title-btngroup-icon.b2:hover {
  background-image: url("./images/b2_active.png"); 
}

/*.kmseditors-title-btngroup-icon.b3 {
  background-image: url("./images/b3.png");
}

.kmseditors-title-btngroup-icon.b3:hover {
  background-image: url("./images/b3_active.png"); 
}
*/

.kmseditors-title-btngroup-icon.b4 {
  background-image: url("./images/b4.png");
}

.kmseditors-title-btngroup-icon.b4:hover {
  background-image: url("./images/b4_active.png"); 
}

.kmseditors-title-btngroup-icon.b5 {
  background-image: url("./images/b5.png");
}

.kmseditors-title-btngroup-icon.b5:hover {
  background-image: url("./images/b5_active.png"); 
}


.kmseditors-title-btngroup p {
  color: #666;
  margin-bottom: 5px;
}



/*内容区域*/

#kmseditors-contant {
  width: 100%;
  height: 850px;
  padding: 5px 10px;
  font-size: 12px;
  /*border: 1px solid red;*/
}

#kmseditors-contant-tips {
  color: #666;
  line-height: 20px;
}








/*右键菜单*/

#kmseditors-contextmenu {
  position: absolute;
  top: 300px;
  left: 200px;
  /*width: 164px;*/
  /*height: 30px;*/
  background-color: #fff;
  border: 1px solid #979797;
}

.kmseditors-contextmenu-group {
  display: inline-block;
  width: 30px;
  height: 21px;
  /*padding: 8px 3px 3px 3px;*/
  border-right: 1px solid #979797;
  text-align: center;
  line-height: 21px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  /*border: 1px solid green;*/
}

.kmseditors-contextmenu-group.c1 {
  background-image: url("./images/c1.png");
}


/*UI还没给图*/
/*.kmseditors-contextmenu-group.c2 {
  background-image: url("./images/c2.png");
}

.kmseditors-contextmenu-group.c3 {
  background-image: url("./images/c3.png");
}*/

.kmseditors-contextmenu-group.c4 {
  background-image: url("./images/c4.png");
}


.kmseditors-contextmenu-group:last-child {
  border-right: 0;
}


.kmseditors-contextmenu-group:hover {
  cursor: pointer;
}

.kmseditors-contextmenu-group img {
  /*text-align: */
}







/*内容区*/

#kmseditors-contant {
  position: relative;
  background-color: #fff;
}








/*内容区 - 背景图片区域*/

#kmseditors-contant .position-conrainer {
  position: absolute;
  border: 1px solid transparent;
  /*border: 1px solid red;*/
}

#kmseditors-contant .position-conrainer .map-position {
  position: absolute;
  border: 1px solid #9C9C9C;
  font-weight: bold;
  /*下面几个值写到了js里，为了初始化就有值*/
  /*left: 10px;*/
  /*top: 10px;*/
  /*width: 90px;*/
  /*height: 30px;*/
}

#kmseditors-contant .position-conrainer .map-position .map-position-bg {
  position: absolute;
  background: rgba(156, 156, 156, 0.40);
  border: 1px solid #9C9C9C;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#kmseditors-contant .position-conrainer .map-position .map-position-bg.isLink {
  background: rgba(66, 133, 244, 0.40);
  border: 1px solid #4285F4;
}


#kmseditors-contant .position-conrainer .map-position .resize {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 5px;
  height: 5px;
  cursor: nw-resize;
  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.50);
}

#kmseditors-contant .position-conrainer .map-position .isLink .resize {
  border: 1px solid #4285F4;
}



/*#kmseditors-contant .position-conrainer .map-position .delete {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 12px;
  line-height: 11px;
  font-size: 12px;
  font-weight: bold;
  background: #000;
  color: #fff;
  font-family: Arial;
  padding-left: 2px;
  cursor: pointer;
  opacity: 1;
}*/


/*覆盖原来的hover强奸*/

.webuploader-pick-hover {
  background-color: inherit!important;
}