* {
  margin: 0;
  padding: 0;
  border: 0;
}


/*颜色选择器*/



/*顶部工具栏*/

.kmseditors-title {
  border-bottom: 1px solid #666;
}

.kmseditors-title-btngroup {
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  padding: 9px 2px 0;
  border-right: 1px solid #666;
  /*border: 1px solid red;*/
}

.kmseditors-title-btngroup:hover {
  cursor: pointer;
}

.kmseditors-title-btngroup img {
  width: 24px;
  height: 24px;
}




/*内容区域*/

#kmseditors-contant {
  width: 100%;
  height: 850px;
  padding: 5px 10px;
  font-size: 12px;
  /*border: 1px solid red;*/
}

#kmseditors-contant-tips {
  color: #666;
  line-height: 20px;
}





/*右键菜单*/

#kmseditors-contextmenu {
  position: absolute;
  top: 300px;
  left: 200px;
  /*width: 164px;*/
  /*height: 30px;*/
  background-color: #999;
  border: 1px solid #666;
}

.kmseditors-contextmenu-group {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 8px 3px 3px 3px;
  border-right: 1px solid #666;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  /*border: 1px solid green;*/
}

.kmseditors-contextmenu-group:last-child {
  border-right: 0;
}


.kmseditors-contextmenu-group:hover {
  cursor: pointer;
}

.kmseditors-contextmenu-group img {
  /*text-align: */
}




/*内容区*/

#kmseditors-contant {
  position: relative;
}





/*内容区 - 背景图片区域*/

#kmseditors-contant .position-conrainer {
  position: absolute;
  border: 1px solid transparent;
  /*border: 1px solid red;*/
}

#kmseditors-contant .position-conrainer .map-position {
  position: absolute;
  border: 1px solid #000;
  font-weight: bold;
  /*下面几个值写到了js里，为了初始化就有值*/
  /*left: 10px;*/
  /*top: 10px;*/
  /*width: 90px;*/
  /*height: 30px;*/
}

#kmseditors-contant .position-conrainer .map-position .map-position-bg {
  position: absolute;
  background: #0F0;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#kmseditors-contant .position-conrainer .map-position .resize {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 5px;
  height: 5px;
  cursor: nw-resize;
  background: #000;
}


/*#kmseditors-contant .position-conrainer .map-position .delete {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 12px;
  line-height: 11px;
  font-size: 12px;
  font-weight: bold;
  background: #000;
  color: #fff;
  font-family: Arial;
  padding-left: 2px;
  cursor: pointer;
  opacity: 1;
}*/

/*覆盖原来的hover强奸*/
.webuploader-pick-hover {
  background-color: inherit!important;
}